				<div id="section-about" class="section page-section m-0">

					<div class="container">

						<div class="row">
							<div class="col-lg-6">
								<div class="heading-block border-bottom-0 mb-4">
									<h3 class="cookie-font text-capitalize color">Mission</h3>
								</div>
								<p>%mission-text%</p>
								<div class="heading-block border-bottom-0 mb-4">
									<h3 class="cookie-font text-capitalize color">About Us</h3>
								</div>
								<p>%about-text%</p>
								<div class="heading-block border-bottom-0 mb-4">
									<h3 class="cookie-font text-capitalize color">Our Aim</h3>
								</div>
								<p>%our-aim-text%</p>
							</div>
							<div class="col-lg-6">
								<img class="mb-6 mx-auto img-fluid" src="%cdn%/home/learning-3245792.jpg" alt="learning (pb)">
							</div>
						</div>
						<div class="row g-5 mb-4">
							%featureHtml%
						</div>
					</div>
				</div>

				<a href="%cta-w-100-link%" class="button button-full text-center">
					<div class="container">
						%cta-w-100%
					</div>
				</a>

				<div id="section-intro-media" class="section m-0 page-section bg-transparent">
					<div class="container">
						<div class="text-center">
							%last-media-embed%
						</div>
					</div>
				</div>
